.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* background-color: aqua; */
}
.main-container{
    width: 90vw;
    height: 90vh;
    background-color: whitesmoke;
    display: flex;
    border-radius: 10px;
    justify-content:space-between;
    /* flex-direction: column; */
    margin: 20px;
}
.nav-header{
    background-color: bisque;
    width: 100%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
}
.welcome-div{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}

.welcome-name{
    font-weight: 600;
    font-size:xx-large;
}
.nav-ul{
    display: flex;
    padding: 5px 20px;
    list-style-type: none;
}
.nav-ul li{
    margin: 5px;
    padding: 5px;
    
}
.footer{
    display: flex;
    background-color: antiquewhite;
    width: 100%;
}
.footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 12px;
}
.footer li{
    padding: 12px;
}
.footer-div{
    width: 20%;
}

.login-component{
    width: 80vw;
    height: 60vh;
    background-color: whitesmoke;
    display: flex;
    border-radius: 10px;
    justify-content:center;
    align-items: center;
    margin: 20px 0px;
}
.login-box{
    width: 60%;
    height: 60%;
    background-color:cadetblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.login-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px;
}
.login-panel input,button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor:pointer;
}

.all-users-div{
    width: 50vw;
    background-color: antiquewhite;
    display: flex;
    margin: 10px;
    justify-content: center;
}

.allusers-username{
    padding: 12px;
    margin: 12px;
    width: 50%;
    background-color:cornflowerblue;
    text-align: center;
}

.sidebar{
    flex: 0.3;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex: 0.7;
}

.workspace{
    flex: 0.7;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: blue; */
}
.sb-header{
    background-color:blanchedalmond;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    margin: 10px;
}

.sb-search{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;

}
.sb-search input{
    outline: none;
    border: none;
}

.single-chat{
    display: flex;
    flex-direction: column;
    background-color:azure;
    padding: 10px;
    margin: 10px;
}
.chat-header{
    margin: 10px;
    padding: 10px;
    background-color: beige;
}
.chat-area{
    height: 65%;
    background-color: beige;
    margin: 10px;
    padding: 20px;
    overflow: auto;
    scrollbar-width: none;
}
.write-chat {
    display: flex;
    /* flex-direction: column; */
}
.write-chat input{
    width: 100%;
    margin: 10px;
    padding: 15px;
    background-color: beige;
    outline: none;
    border: none;
    border-radius: 10px;
}

.my-message-block{
    width: 100%;
    display: flex;
    flex-flow:row-reverse;
}
.my-message{
    width: 30%;
    background-color: greenyellow;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
    color: black;
    overflow: auto;
    scrollbar-width:thin;
}

.friend-message-block{
    width: 100%;
    display: flex;
    flex-flow: row;
    
}
.friend-message{
    width: 30%;
    background-color: whitesmoke;
    color: black;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
    overflow: auto;
    scrollbar-width:thin;
}


/*          uploads         */

.new-uploads-div{
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.prompt{
    height: 80vh;
    /* border: 1px solid black; */
    width:30%;
    margin: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.prompt-chatarea{
    /* border: 1px solid black; */
    height:90%;
    
}
.prompt-msg{
    /* border: 1px solid black; */
    margin: 10px;
    height:93%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}
.prompt-input-area{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}
.prompt-input{
    width: 80%;
    margin-left: 10px;
    padding: 10px;
    border:none;
    border-radius: 10px;
}

.prompt-response-para{
    line-height: 25px;
}
.prompt-loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.prompt-loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.new-uploads{
    width:70%;
    height: 80vh;
    margin: 20px;
    background-color:cadetblue;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.img-text-div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
}
.newupload-image-div{
    border: 2px solid white;
    border-radius: 5px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title-des-div{
    border: 2px solid white;
    border-radius: 5px;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.title-div{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    margin: 12px;
    /* border: 1px solid black; */

}
.title-input{
    /* margin: 12px; */
    width: 90%;
    height: 80%;
    padding: 10px;
    border-radius: 5px;
}
.des-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    margin: 12px;
    /* border: 1px solid black; */

}
.des-input{
    /* margin: 12px; */
    width: 90%;
    height: 90%;
    padding: 10px;
    border-radius: 5px;
}
.all-uploaded-content{
    width: 80vw;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
}
.uploaded-content{
    display: flex;
    margin: 12px;
    width: 80%;
    justify-content: space-evenly;
    padding: 20px 12px;
    background-color:darkgray;
    border-radius: 10px;
}
.uploaded-content-img img{
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
}
.uploaded-content-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:50%;
}
.uploaded-content-texts p{
    padding: 10px;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    height: 40%;
    overflow: auto;
}
.uploaded-content-texts h3{
    padding: 10px;
    background-color:cadetblue;
    color: black;
    border-radius: 10px;
}
.upload-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

